$main-color: #6874e8;
$libre: 'Libre Baskerville', serif;
$arimo: 'Arimo', sans-serif;
.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  section {
    border: 1px solid black;
    width: 96%;
    margin: 12px 2%;
    padding: 0 0 60px 0;
    position: relative;
    header {
      display: flex;
      flex-direction: row;
      background: $main-color;
      justify-content: center;
      h2 {
        padding: 6px 0;
        margin: 0;
        background: none;
        border: none;
        color: white;
        text-align: center;
        font-family: $arimo;
      }
    }
    ul {
      padding: 6px;
      li {
        display: grid;
        grid-template-columns: auto 65px 65px 65px 90px;
        text-align: center;
        align-items: center;
      }
      .item-name {
        text-align: left;
        padding-left: 6px;
      }
    }
    footer {
      border-top: 1px solid black;
      height: 48px;
      position: absolute;
      bottom: 0;
      width: 100%;
      display: grid;
      grid-template-columns: auto 45px 45px;
      text-align: right;
      align-items: center;
      p {
        font-size: 1.2rem;
        margin: 0;
        font-family: $arimo;
        margin-right: 20px;
      }
    }
  }
}

.add-basket {
  border: 1px dashed black !important;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0 !important;
  text-align: center;
  img {
    padding: 0;
    margin-bottom: 12px;
  }
  input {
    margin: 12px 0;
  }
  input[type='submit'] {
    cursor: pointer;
  }
}

.delete,
.edit-item,
.del-basket,
.add-item {
  font-size: 1.6rem;
  border: none;
  padding: 0 6px;
  background: none;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}

.del-basket,
.delete {
  color: red;
}

.edit-item {
  color: #f9c80e;
}

.add-item {
  color: green;
}

.edit-basket-name {
  font-size: 1.4rem;
  border: none;
  background: none;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .main-container {
    section {
      min-width: 300px;
      width: 44%;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .main-container {
    section {
      width: 28%;
    }
  }
}

@media (min-width: 2100px) {
  .main-container {
    section {
      width: 20%;
    }
  }
}
